.page{
min-height:100vh;

background:
radial-gradient(circle at top,
rgba(0,120,255,.18),
transparent 35%),
#020612;

color:white;

padding:20px 40px 50px;

overflow-x:hidden;
}

/* ================= HEADER ================= */

.header{
text-align:center;

position:relative;

margin-bottom:30px;
}

.crown{
width:40px;

display:block;

margin:0 auto -20px;

filter:
drop-shadow(0 0 10px #3b82f6)
drop-shadow(0 0 25px #3b82f6);
}

.logo{
width:250px;

max-width:90vw;

display:block;

margin:-60 auto 0;
}

.title{
margin-top:-50px;

font-size:12px;

font-weight:700;

letter-spacing:4px;

color:white;
}

.subtitle{
color:#d6e2ff;

font-size:9px;

letter-spacing:3px;

margin-top:8px;
}


/* ================= SECTIONS ================= */

.section{
width:100%;

box-sizing: border-box;

margin:12px auto;

border-radius:26px;

border:1px solid rgba(70,120,255,.25);

background:
linear-gradient(
180deg,
rgba(4,10,35,.95),
rgba(2,5,20,.96)
);

backdrop-filter:blur(12px);

box-shadow:
0 0 30px rgba(0,80,255,.15),
inset 0 0 25px rgba(0,80,255,.05);

padding:18px;
}

.sectionHeader{
display:flex;

align-items:center;

gap:10px;

margin-bottom:6px;
}

.number{
width:35px;

height:35px;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

font-weight:700;

background:
linear-gradient(
180deg,
#2f8cff,
#2158ff
);

box-shadow:
0 0 20px #2563ff;
}

.sectionHeader h2{
margin:0;

font-size:15px;
}

.sectionHeader span{
color:#8ca0d8;

font-size:10px;
}

/* ================= BRAND ================= */

.brandContent{
display:flex;

align-items:center;

justify-content:space-between;

gap:30px;
}

.leftSide{
flex:1;
}

.rightSide{
width:250px;

display:flex;

justify-content:center;
margin-top: -30px;
}

.musicIcon{
width:160px;

filter:
drop-shadow(0 0 15px #2563ff)
drop-shadow(0 0 35px #7c3aed);
}

.row{
display:flex;

gap:18px;

margin-bottom:18px;
}

.field{
flex:1;

display:flex;

flex-direction:column;
}

.field label{
margin-bottom:8px;

color:#c8d6ff;

font-size:12px;
}

.field input{
height:38px;

border-radius:14px;

border:1px solid rgba(120,160,255,.18);

background:
rgba(4,8,30,.85);

color:white;

padding:0 16px;

font-size: 11px;

outline:none;
}

.field > select{
height:38px;

border-radius:14px;

border:1px solid rgba(120,160,255,.18);

background:rgba(4,8,30,.85);

color:white;

padding:0 16px;

outline:none;

font-size: 11px;

width:100%;
}

.field textarea{
height:50px;
width: 100%;

resize:none;

border-radius:14px;

border:1px solid rgba(120,160,255,.18);

background:
rgba(4,8,30,.85);

color:white;

padding:12px;

outline:none;
}

.field textarea::placeholder{
  font-size: 11px;
  color: #8ca0d8;
}

.styleGrid{
display:grid;

grid-template-columns:
repeat(6,1fr);

gap:10px;

padding: 0 18px;
}

.styleCard{
height:60px;

border-radius:20px;

border:1px solid
 rgba(120,160,255,.15);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
text-align: center;
 cursor: pointer;
 transition: .25s;
}

.downloadArea{
width:420px;
display: flex;
justify-content: center;
margin-right: 80px;
margin-top: -70px;
}

.downloadBtn{
width: 150PX;
height: 35px;

border:none;

border-radius:22px;

color:white;

font-size:13px;

font-weight:700;

cursor:pointer;

letter-spacing: 1px;

background:
linear-gradient(
90deg,
#00e5ff,
#00a3ff,
#0077ff 

);

box-shadow:
0 0 20px #00e5ff,
0 0 40px #00cfff,
0 0 80px rgba(0,229,255,.8),
inset 0 0 20px rgba(255,255,255,.15);
cursor: pointer;
}

/* ================= MOBILE ================= */

@media (max-width:900px){

.row{
flex-direction:column;
}

.brandContent{
flex-direction:column;
}

.playerArea{
flex-direction:column;
}

.styleGrid{
grid-template-columns:
repeat(2,1fr);
}

.generateBtn{
width:100%;
}

.downloadArea{
width:100%;
}

.logo{
width:280px;
}

.waveGlow{
width:none;
}
}

.backBtn{
  
  position: absolute;

  top:20px;
  left:20px;

  z-index: 9999;

  height:30px;

  padding: 0 30px;

  border-radius: 16px;

  border: 1px solid rgba(100,150,255,.25);

  background: rgba(5,10,30,.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(59,130,246,.3);
  
}



.styleCard:hover{
transform:translateY(-4px);

border-color:#3b82f6;

box-shadow:
0 0 18px rgba(37,99,255,.35),
0 0 35px   rgba(124,58,237,.15);
}

.styleCard img{
width:30px;
height: 30px;

object-fit: contain;
margin-bottom:6px;

filter: 
drop-shadow(0 0 10px #2563ff)
drop-shadow(0 0 20px #7c3aed)
}

.styleCard span{
font-size:10px;

color:white;
}

.generateBtn{
display:block;

margin:10px auto 0;

width:140px;

height:35px;

border:none;

border-radius:18px;

color:white;

font-size:12px;

font-weight:700;

cursor:pointer;

background:
linear-gradient(
90deg,
#0f6fff,
#8b2cf5
);

box-shadow:
0 0 25px rgba(80,120,255,.5),
0 0 50px rgba(139,44,245,.35);
}

/* ================= PLAYER ================= */

.playerArea{
display:flex;

gap:24px;

align-items:center;
}


.coverCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
width:280px;
height: 50px;
/*border-radius:120px;
margin-top: -30px;
padding-top:10px;*/

/*border:1px solid rgba(120,160,255,.15);*/
position: relative;
overflow: hidden;
/*background:
rgba(5,10,30,.85);*/
}

/*.coverCard img{
width:100%;
}*/

.coverLogo{
 width: 170px !important;
 height: auto !important;
 filter: blur ;
}

.coverCard h3{
margin-top:12px;
}

.wavePlayer{
flex:1;
margin-top: -20px;
}

.fakeWave{
  height: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
  padding: 10px;
  background: transparent;
}

.bar{
  width: 3px;
  height: 20px;
  border-radius: 3px;

  background: linear-gradient(
    180deg,
    #00d9ff,
    #7c3aed,
    #ff4fd8,
    #00ffa8,
    #ffe600
  );

  box-shadow: 
    0 0 6px #00d9ff,
    0 0 12px #7c3aed,
    0 0 18px rgba(255,79,216,.6);

    animation: bounce 1.2s infinite ease-in-out;
}

  .controls{
display:flex;


align-items:center;
justify-content: center;
gap:4px;

margin-top:8px;
}

.controls button{
width:30px;

height:30px;

border:none;

border-radius:50%;

color:white;

background:#07132d;
}
.playBtn{
width:25px !important;

height:25px !important;

background:
linear-gradient(
180deg,
#0f6fff,
#7c3aed
) !important;

box-shadow:
0 0 25px rgba(80,120,255,.6);
}

.miniCrown{
width: 50px !important;
height: auto !important;
display: block;
transform: translateY(-8px);

filter:
drop-shadow(0 0 8px #3b82f6)
drop-shadow(0 0 20px #3b82f6);
}

.logoRow{
  display:flex;

  align-items: center;
  justify-content: center;
  gap:0px;
  width: 100%;
  margin-top: -27px;
  position: relative;
  z-index: 2;
  margin-left: 15px;
}

@keyframes bounce{
  0%,100%{
   transform: scaleY(0.3);
   opacity: 0.5;
  }

  50%{
   transform:scaleY(1);
   opacity: 1;
  }
}

.logoGlow{
position:absolute;
left:50%;
transform:translateX(-50%);

top:120px;

width:350px;
height:60px;

background:radial-gradient(
ellipse,
rgba(0,180,255,.6),
rgba(124,58,237,.4),
transparent 70%
);

filter:blur(25px);

pointer-events:none;
}

