.container{
    width: 100%;
    max-width: none;
    overflow: hidden;
    padding: 20px 5px;
    box-sizing: border-box;
    display:flex;
    min-height:100vh;
   background: 
    radial-gradient(
       circle at top,
       #000000 0%,
       #000000 55%,
       #000000 100%
    );
    
    color:#fff;
    font-family:sans-serif;
    overflow:hidden;
}

.logoBox{

    display:flex;

    justify-content:center;

    margin-bottom:3S8px;
    margin-left: 50px;

}

.logoImg{

    width:220px;

    height:120px;
}

/* ================= HEADER ================= */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align:center;
    margin-top: -40px;

    margin-bottom:45px;

}

.header h1{

    font-size:20px;

    margin:0;
    margin-left: -180px;

}

.header h2{
    margin:8px 0;
    font-size:28px;
    font-weight:800;
    letter-spacing:-0.5px;
    margin-left: -180px;

    background:linear-gradient(
        90deg,
        #ffffff 0%,
        #cfa5fc 30%,
        #8119e2 65%,
        #520297 100%
    );

    background-clip:text;
    -webkit-background-clip:text;
    color:transparent;
    -webkit-text-fill-color:transparent;

    text-shadow:
        0 0 12px rgba(168,85,247,.35),
        0 0 28px rgba(168,85,247,.25);
}


.header p{

    color:#9b9bb3;

    font-size:14px;
    margin-left: -190px;

}

/* ================= CARDS ================= */

.cards{

    display:grid;
    grid-template-columns: repeat(4,1fr);

    gap:16px;
    width: 110%;
    margin-left: -120px;

    justify-content:center;

    align-items:flex-start;
    flex-wrap: wrap;

}

.card{

    width:90%;
    min-width: 0;

    min-height:560px;

    border-radius:24px;

    overflow:visible;

    background:#000102;

    border:1px solid rgba(255,255,255,.03);

    
    transition:.35s;
    position: relative;
    

}


.card:hover{

    transform:translateY(-8px);

    border-color:#9d5cff;

    box-shadow:
    0 0 35px rgba(125,55,255,.35);

}



/* ---------- TOP IMAGE ---------- */

.cardImage{

    width:80%;

    height:150px;

    object-fit:cover;

    display:block;
    border-radius: 22px 22px 0 0 ;

}

/* ---------- CONTENT ---------- */

.cardContent{

    padding:15px;

    display:flex;

    flex-direction:column;

    height:calc(100% - 235px);

}

.cardContent h3{

    margin:0;

    font-size:17px;
    font-weight: 700;

    color:#ffffff;
    margin: 0;
    margin-bottom: 8px;

}

.subTitle{

    margin-top:8px;

    color:#a9abc2;

    font-size:13px;
    font-weight: 400;
    opacity: 0.65;
    line-height: 1.5;
    margin-bottom: 14px;

}

/* ---------- FEATURES ---------- */

.features{

    display:flex;

   flex-direction: column;

    gap:10px;

    margin-top:20px;

    margin-bottom:22px;

}

.feature{

    display:flex;

    align-items:center;

    gap:8px;

    color:white;

    font-size:11px;
    line-height: 1.3;
    white-space: nowrap;

}

.feature img{

    width:16px;

    height:16px;
    flex-shrink: 0;

}

/* ---------- BUTTON ---------- */

.btnPurple,
.btnBlue,
.btnOrange{

    width:100%;

    height:44px;

    border:none;

    border-radius:16px;

    margin-top:30px;

    color:white;

    font-size:14px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;

}

.btnPurple{

    background:#6201a3;

    box-shadow:
    0 0 35px #7a1af8;

}

.btnBlue{

    background:#003cff;

    box-shadow:
    0 0 35px #0190dd;

}

.btnOrange{

    background:#ff3c00;

    box-shadow:
    0 0 35px #ff7b00;

}

.btnPurple:hover,
.btnBlue:hover,
.btnOrange:hover{

    transform:translateY(-3px);

}

.infoSection{
    margin-top:22px;
    margin-left: -150px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.infoCard{
    background:#000102;;
    border:1px solid rgba(255,255,255,.06);
    border-radius:12px;
    padding:10px 14px;
}

.infoCard h3{
    font-size:15px;
    color:#fff;
    margin: 0 0 6px;
}

.infoCard h4{
    color:#9b5cff;
    font-size:12px;
    margin: 0 0 10px;
}

.infoCard p{
    color:#bfc2d4;
    line-height:1.9;
    font-size:12px;
    margin: 0;
}

.adsImage{
    width:100%;
    height:185px;
    object-fit:contain;
    display:block;
    margin:0 auto;
     box-shadow:
        0 0 12px rgba(155,92,255,.6),
        0 0 28px rgba(155,92,255,.35),
        0 0 60px rgba(155,92,255,.2);

        filter: 
        drop-shadow(0 0 12px #8b3dff)
        drop-shadow(0 0 30px #8b3dff);


}

.brandImage{
    width:95%;
    height:184px;
    object-fit:contain;
    display:block;
    margin:0 auto;
    box-shadow:
        0 0 12px rgba(0,195,255,.6),
        0 0 28px rgba(0,195,255,.35),
        0 0 60px rgba(0,195,255,.2);

        filter: 
        drop-shadow(0 0 10px #00b8ff)
        drop-shadow(0 0 25px #00b8ff);
}

.studioImage{
    width:100%;
    height:185px;
    object-fit:contain;
    display:block;
    margin:0 auto;
    box-shadow:
        0 0 12px rgba(248, 130, 19, 0.6),
        0 0 28px rgba(255,125,0,.35),
        0 0 60px rgba(189, 50, 8, 0.2);

        filter:
        drop-shadow(0 0 10px #ff7a00)
        drop-shadow(0 0 25px #ff7a00)
}

.languageBox{
    position:relative;
    display:flex;
    justify-content:flex-end;
    margin-bottom:20px;
    margin-right:50px ;
}

.languageBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width:90px;
    height:38px;

    border-radius:14px;
    border:1px solid rgba(255,255,255,.08);

    background:#101114;

    color:#fff;

    font-size:11px;
    font-weight:600;

    cursor:pointer;

    transition:.15s;
}

.languageBtn:hover{

    border-color:#8b5cff;

    box-shadow:
    0 0 18px rgba(139,92,255,.35);
}


.languageMenu{

    position:absolute;

    top:32px;

    right:0;

    width:210px;

    background:#111216;

    border:1px solid rgba(255,255,255,.08);

    border-radius:16px;

    overflow:hidden;

    display:none;

    z-index:999;

    box-shadow:
    0 20px 45px rgba(0,0,0,.65),
    0 0 25px rgba(139,92,255,.20);
}

.languageBox:hover .languageMenu{

    display:block;

}

.languageItem{

    padding:14px 18px;

    color:#ddd;

    cursor:pointer;

    transition:.35s;

    font-size:12px;
}

.languageItem:hover{

    background:#1b1d24;

    color:white;

    padding-left:24px;

}

.countryCode{
    display:inline-block;
    width:42px;
    color:#8e96a8;
    font-size:11px;
    font-weight:600;
    letter-spacing:.5px;
}

.languageItem{
    display:flex;
    align-items:center;
    gap:12px;
}

.cardDescription{
    margin: 16px 0 22px;
    color: #b9bfd0;
    font-size: 14px;
    line-height: 1.65;
    font-weight: 400;
}

.cardMainText {
    font-size: 17px;
    font-weight: 500;
    color: #ffc857;
    text-shadow: 0 0 10px rgba(255, 200, 87, 0.35);
    margin-bottom: 6px;
}

.musicImage{

    width:90%;
    height:180px;
    object-fit:cover;
    display:block;
    margin: 8px auto 20px;

    border-radius:22px 22px 0 0;

    filter:
    drop-shadow(0 0 18px rgba(255,0,153,.55))
    drop-shadow(0 0 35px rgba(230,0,255,.25));
}

.btnMusic{

    width:100%;
    height:44px;

    border:none;
    border-radius:16px;

    color:white;
    font-size:14px;
    font-weight:700;

    cursor:pointer;

   .musicImage{

    width:100%;
    height:200px;
    object-fit:cover;
    display:block;

    border-radius:22px 22px 0 0;

    filter:
    drop-shadow(0 0 18px rgba(255,0,153,.55))
    drop-shadow(0 0 35px rgba(230,0,255,.25));
}

    transition:.3s;
}


.btnMusic:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 35px rgba(255,0,153,.65);

}

.btnMusic{

    width:100%;
    height:44px;

    border:none;
    border-radius:16px;

    margin-top:-6px;

    color:white;

    font-size:14px;
    font-weight:700;

    cursor:pointer;

    background:linear-gradient(
        90deg,
        #ff0099,
        #e600ff
    );

    box-shadow:
    0 0 18px rgba(255,0,153,.55),
    0 0 35px rgba(230,0,255,.35);

    transition:.3s;
}


.btnMusic:hover{

    transform:translateY(-3px);

    box-shadow:
    0 0 35px rgba(255,0,153,.8),
    0 0 60px rgba(230,0,255,.5);

}

.menuButton{

    position:absolute;

    top:0px;

    right:100px;

    width:42px;

    height:38px;

    border-radius:12px;

    background:#080812;

    border:1px solid rgba(255,255,255,.15);

    color:white;

    font-size:22px;

    cursor:pointer;

}

.menuBox{

    position:relative;

}


.menuButton{

    width:45px;
    height:45px;

    border-radius:14px;

    background:#080812;

    border:1px solid rgba(255,255,255,.15);

    color:white;

    font-size:22px;

    cursor:pointer;

    transition:.3s;

}


.menuButton:hover{

    border-color:#9d5cff;

    box-shadow:
    0 0 20px rgba(157,92,255,.45);

}


.menuDropdown{

    position:absolute;

    top:55px;

    right:0;

    width:230px;

    background:#090b16;

    border-radius:18px;

    border:1px solid rgba(255,255,255,.12);

    padding:12px;

    box-shadow:
    0 0 35px rgba(0,0,0,.5);

    z-index:100;

}


.menuDropdown a{

    display:block;

    padding:12px;

    color:white;

    text-decoration:none;

    border-radius:10px;

    font-size:14px;

    transition:.25s;

}


.menuDropdown a:hover{

    background:rgba(157,92,255,.15);

    color:#c9a8ff;

}


.menuLine{

    height:1px;

    background:rgba(255,255,255,.1);

    margin:10px 0;

}
